// Sass Variables

// Colors
$primary-color: #fcd232;
$secondary-color: #302f38;
$secondary-color-08: rgba(48, 47, 56, 0.8);
$button-color: #ff1300;
$button-color-hover: #af2b2b;
$checkboxes-color: #eb3b3b;
$white: #ffffff;
$white-015: rgb(255, 255, 255, 0.15);
$success: #52c41a;
// ------------------------
